@charset "uft-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

body{font-family: 'Noto Sans KR', sans-serif;}

/* 레이아웃 */
#wrap{width: 100%}
#header{width: 100%; height: 94px; background: #fff; position: relative;}
#banner{width: 100%; height: 500px; background: #ddd;}
#content{width: 100%; height: 300px; background: rgb(130, 238, 211);}
#footer{width: 100%; height: 100px; background: rgb(17, 190, 243);}

/* 공통속성 */
.container{width:1440px; height: inherit; /* background: rgba(255,255,255,.3); */ margin: 0 auto;}


/* 메뉴 */
.nav>ul>li{width:14.285%; text-align: center;}
.nav>ul>li>.logo{text-align: left;}
.nav>ul>li>a{display: block; font-size: 24px; padding: 29px 0;  font-weight: 700; position: relative;}
.nav>ul>li>a:after{
    content: "";
    width: 1px;
    height:24px;
    background: #ddd;
    position: absolute;
    top:36px; right: 0
}
.nav>ul>li:last-child>a:after{
    width: 0;
    height: 0;
    
}
.nav>ul>li:hover>a{color: #e95a65}
.nav>ul>li>.width100{width: 100%; height: auto; background: #efefef; position: absolute; top: 94px; left: 0; display: none; padding: 20px 0; border: 1px solid #ccc; box-shadow: 0 2px 2px #c9c9c9; box-sizing: border-box;}
.nav>ul>li:hover>.width100{ display: block;}
.nav>ul>li>.width100>ul{width: 1440px; margin: 0 auto;}
.nav>ul>li>.width100>ul li{width: 16%; text-align: left;}
.nav>ul>li>.width100>ul li h2{font-size: 1.5em; font-weight: 700; text-align: center; color: #e95a65; }
.nav>ul>li>.width100>ul li img{display: block;  margin: 0 auto;}
.nav>ul>li>.width100>ul li h3{font-size: 1.2em; font-weight: 700;}
.nav>ul>li>.width100>ul li h3 a{color: #097a84}
.nav>ul>li>.width100>ul li dl dt{font-weight: 700;}
.nav>ul>li>.width100>ul li dl dt a{font-size: 1.2em; line-height: 180%; color:#333;}
.nav>ul>li>.width100>ul li dl dd a{font-size: 1em; line-height: 170%; color:#777; background: url(../images/blet.png) no-repeat 0 center; padding-left: 10px;}